{{#partial "title"}}jooby: modules{{/partial}}
{{#partial "main-class"}}page-section page-modules{{/partial}}
{{#partial "modules"}}active{{/partial}}
{{#partial "main"}}
<div class="section-title">
  <div class="row">
    <h1>Modules</h1>
  </div>
</div>
<div class="row">
  <a href="/doc/maven-plugin" title="Run, debug and auto-reload Jooby applications!!" class="module-box">
    <span class="icon-shell-yellow-big"></span>
    <span class="module-title">jooby:run</span>
    <span class="module-excerpt">Run, debug and auto-reload Jooby applications!!</span>
  </a>
  <a href="/doc/assets" title="A library to validate, concatenate, minify or compress JavaScript and CSS files!" class="module-box">
    <span class="icon-assets-yellow-big"></span>
    <span class="module-title">Assets</span>
    <span class="module-excerpt">A library to validate, concatenate, minify or compress JavaScript and CSS files!</span>
  </a>
  <a href="/doc/parser-and-renderer" title="Parse and renderer HTTP data using the library of your choice!" class="module-box">
    <span class="icon-parsers-yellow-big"></span>
    <span class="module-title">Parser & Renderer</span>
    <span class="module-excerpt">Parse and renderer HTTP data using the library of your choice!</span>
  </a>
  <a href="/doc/session" title="Do you need to track state? Checkout how to do it without affecting performance!" class="module-box">
    <span class="icon-session-yellow-big"></span>
    <span class="module-title">HTTP Session</span>
    <span class="module-excerpt">Do you need to track state? Checkout how to do it without affecting performance!</span>
  </a>
  <a href="/doc/datastore" title="Access various data store including relational, documented oriented, key/value and much much more!" class="module-box">
    <span class="icon-database-yellow-big"></span>
    <span class="module-title">Data</span>
    <span class="module-excerpt">Access various data store including relational, documented oriented, key/value and much much more!</span>
  </a>
  <a href="/doc/caches" title="Looking for speed? Increase your application performance with insanely fast data access?" class="module-box">
    <span class="icon-cache-yellow-big"></span>
    <span class="module-title">Caches</span>
    <span class="module-excerpt">Looking for speed? Increase your application performance with insanely fast data access!</span>
  </a>
  <a href="/doc/async" title="Produces a result from a thread of its choice and choose your favorite async library!" class="module-box">
    <span class="icon-async-yellow-big"></span>
    <span class="module-title">Async</span>
    <span class="module-excerpt">Produces a result from a thread of its choice and choose your favorite async library!</span>
  </a>
  <a href="/doc/pac4j" title="Protects your application and authenticate users via form or social network!" class="module-box">
    <span class="icon-auth-yellow-big"></span>
    <span class="module-title">Auth/Security</span>
    <span class="module-excerpt">Protects your application and authenticate users via form or social network!</span>
  </a>
  <a href="/doc/servers" title="Run your application on top of your favorite Web Server!!!" class="module-box">
    <span class="icon-servers-yellow-big"></span>
    <span class="module-title">Servers</span>
    <span class="module-excerpt">Run your application on top of your favorite Web Server!!!</span>
  </a>
  <a href="/doc/more" title="API tools, full text search, schedulers, AWS, mail support, enterprise service bus... and lot more!!" class="module-box">
    <span class="icon-misc-yellow-big"></span>
    <span class="module-title">Even More!</span>
    <span class="module-excerpt">API tools, full text search, schedulers, AWS, mail support, enterprise service bus... and lot more!!</span>
  </a>
</div>
{{/partial}} {{> layout}}
